.cart__icon {
    position: absolute;
    right: 20px;
    width: 42px;
    height: max-content;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(77, 77, 77);
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.cart__input {
    position: absolute;
    right: 20px;
    border: none;
    z-index: 5;
    width: 23px;
    height: 30px;
    border: 1px solid red;
    margin-right: 5px;
}

.cart__aside {
    display: none;
    top: 50px;
    right: 0;
    width: 25%;
    min-height: 30vh;
    position: absolute;
    z-index: 2;
    background-color: rgba(98, 98, 98, 0.562);
    transform: blur(20px);
    border-radius: 8px;
    box-shadow: #e9e8e7 14px 14px 31px;
}

.cart__input:checked~.cart__aside {
    display: block;
}