.app__header {
    display: flex;
    /* justify-content: space-between; */
    padding: 0px 15px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.header__tile {
    font-size: 4rem;
}

