section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products__title {
    text-align: center;
}

.products__container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: 350px;
    justify-content: center;

}

@media ((min-width: 300px) and (max-width: 599px)) {
    .products__container {
        grid-template-columns: 1fr;
    }
}

@media ((min-width: 600px) and (max-width: 899px)) {
    .products__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media ((min-width: 900px) and (max-width: 1200px)) {
    .products__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.product__card {
    border: 2px solid grey;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    gap: 0;
    /* margin-bottom: 8px; */
}

.product__title {
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}

.product__brand {}

.product__price {
    color: red;
}

.product__images {
    width: 150px;
    height: 150px;
}